body {
  padding-top: 10px; }

/*[class*="col-"]{
  background-color: aquamarine;
  border: 2px solid black;
  border-radius: 3px;
  text-align: center; }*/
footer{
  border: 2px solid red;
}

header{border: 2px solid orange;
  background-color: darkorange;
  margin: 1%;
}

.container-fluid {
  border: 5px solid red;
}
main{border: 2px solid orange;
  height: 70%;
}
section{
}

img{
  margin: 5%;
  width: 30%;
  height: 30%;
}
/*@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }*/


